| Meet your match!

| Hi #{name},
|	We've connected you with #{matchName} to #{mode} #{topic}.
		
|	You can contact your match at #{contactInfo}. Please reach out to them within 3 days to organize your meeting. 
	
|	In your email, consider including the following information to make your meetup go smoothly:

|		- Your preferred method of contact (email, video chat, messenger service)
|		- Your availability
|		- Logistics information (e.g., equipment you have access to, what setting is best for your meetup, etc.)
		
|		Plan on your first meetup taking an hour or so. If you're a learner, spend some time before the meeting thinking about what questions you have and how your teacher can best help you. If you're a teacher, consider developing a list of topics or examples in your area of expertise that you can discuss with your match. 
		
|		Your obligation through Knowledge in Common is only for one meetup, but if you matched with someone you enjoy working with, feel free to keep the connection going! Some connections might not persist, and that's ok - people have very different styles of learning and teaching. Come back to the site whenever you'd like to make a new connection!
	
|		As always, thanks for participating!
		
|		- the KiC team (all one of us!)