html
	head
		<meta charset="utf-8"/>
		title Contact Form Submitted
	

body
	div
		p Request details:
		p User email: #{userEmail}
		p User Id: #{userId}
		p Response email: #{responseEmail}
		p 
		p Subject: #{subject}
		p Body: #{body}
		