p Hi #{name},
p We've found you a match! #{requesterName} is interested in #{oppMode}ing #{topic}.
p
p Here's how #{requesterName} ranks themselves at #{topic}: #{skillLevel}
p
p This is what they're interested in:
p #{wantToKnow}
p
p And this is what they thought you should know about them:
p #{anythingElse}
p
p If you think this is a good fit, CLICK HERE to make the match!
p If you'd rather pass, LET US KNOW that it didn't work out. 
p 
p Thanks for participating in Knowledge in Common!